.search-bar {
  width: calc(100% - 60px);
  margin: 0 30px;
  position: relative;
}

.search-bar h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar-container input {
  flex: 3;
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid var(--light-gray);
}

::placeholder {
  color: var(--light-gray);
  opacity: 1;
}

.search-bar-button {
  width: 150px;
  padding: 10px 25px;
  margin-left: 25px;
  background: rgb(235, 219, 67);
  background: linear-gradient(
    180deg,
    rgba(235, 219, 67, 1) 0%,
    rgb(235, 205, 69) 100%
  );
  border: 2px solid rgb(233, 201, 60);
  border-radius: 5px;
}

.search-bar-button:hover {
  cursor: pointer;
  border: 2px solid rgb(233, 201, 60);
  background: rgb(235, 219, 67);
  background: linear-gradient(
    180deg,
    rgb(233, 219, 98) 0%,
    rgb(248, 218, 86) 100%
  );
}

.autocomplete-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: white;
  /* width: 100%; */
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.autocomplete-item {
  padding: 10px 25px;
  margin: 0;
  cursor: pointer;
}

.autocomplete-item:hover {
  background: var(--light-gray);
}
