.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 25px;
}

.search-results h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.search-results table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.table-checkbox {
  max-width: 50px;
}
